{% extends "orga/cft/base.html" %}
{% load i18n %}

{% block cft_content %}
    <h2>{% translate "Tracks" %}</h2>
    <table class="table table-sm table-hover table-responsive-md table-flip">
        <thead>
            <tr>
                <th>{% translate "Track" %}</th>
                <th>{% translate "Proposals" %}</th>
                <th>{% translate "State" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
                <tr>
                    <td>
                        {% if track.requires_access_code %}
                            <i class="fa fa-lock" title="{% translate "Requires access code" %}"></i>
                        {% endif %}
                        <a href="{{ track.urls.edit }}">
                            {{ track.name }}
                        </a>
                    </td>
                    <td class="pl-4">
                        {{ track.submissions.all.count }}
                    </td>
                    <td>
                        {% include "orga/cft/track_state_dropdown.html" with track=track %}
                    </td>
                    <td class="action-column">
                        <a href="{{ track.urls.prefilled_cfp.full }}"
                            title="{% translate 'Go to pre-filled CfP form' %}"
                            class="btn btn-sm btn-info">
                            <i class="fa fa-link"></i>
                        </a>
                        <a href="{{ track.urls.edit }}"
                            class="btn btn-sm btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ track.urls.delete }}"
                            class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="submit-group"><span></span>
        <a class="btn btn-info" href="{{ request.event.cft.urls.new_track }}">
            <i class="fa fa-plus"></i>
            {% translate "New track" %}
        </a>
    </div>
{% endblock %}
